/* This section is needed for the map to display */
#map {
	height: 60%;
	width: 80%;
	margin: 0 auto;
}

html, body {
    height: 100%;
    margin: 0 auto;
}

/* This section is for the main body & page content */
main {
	width: 80%;
	margin: 0 auto;
}

.map_caption {
	width: 80%;
	margin: 0 auto;
}

img {
	width:100%;
}

/* 
div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 300px;
}

*/ 

/* 
header {
	display: flex;
	flex-wrap: wrap;
}

footer {
	align-items: flex-end;
}
*/ 
/* i'm not sure i need the above lines of footer flex-end code. */


/* Bootstrap documentation says box-sizing 
	is needed for google maps api to function correctly, 
	but i did not see a difference

bs-box-override {
	box-sizing: content-box;
}

/* 
